<div class="row">
  <div class="col-xs-12 text-center">
    <h3>Subscribe to receive notifications about this user's new posts</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= form_tag subscribers_path do |f| %>
      <%= hidden_field_tag 'user', @user.slug %>
      <div class="form-group">
        <%= email_field_tag 'subscriber[email]', nil,
          placeholder: 'email@example.com', class: 'form-control' %>
      </div>
      <%= submit_tag 'Subscribe', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>