<div class="container">
  <div class="row">
    
    <div class="col-xs-12 text-center">
      <h1><%= @article.title.length > 0 ? @article.title : '<empty title>' %></h1>
      <h2><small>you are now edditing this post</small></h2>
    </div>
    
    <%= render 'article_form' %>
    
  </div>
</div>