<% if subject.errors.any? %>
  <div class="error_messages">
    <p>Oops, it looks like there are some errors in your form!</p>
    <ul>
      <% subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>