<div class="container home_page">
  
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Blogger</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <p>Welcome to the blogger app!</p>  
      <p>On this website you can:</p>
      <ul>
        <li>Write, edit and delete articles.</li>
        <li>Use Markdown for styling.</li>
        <li>Let your readers leave comments and subscribe to see more of your work.</li>
        <li>We will notify your subscribers when you publish a new article.</li>
      </ul>
    </div>
    
    <div class="col-xs-6 text-center">
      <p>Login form goes here</p>
      <p>Don't have an account? Sign up!</p>
    </div>
  </div>
      
</div>